
<div class="card mb-3">
    <img class="card-img-top w-100" src="https://srisaibharathgroup.org/SSBCAS/Others/Gallery/images/hospital.jpg" alt="Card image cap">
    <div class="card-body" style="height:340px">
      <h5 class="card-title text-center">MAKING HEALTH CARE BETTER TOGETHER </h5>
      <div class="row">
        <div class="col-sm-6">
          <div class="card text-white" style="background-color:#2f49b9">
            <div class="card-body">
              <h4><i class="fas fa-user-md"></i>
                Qualitfied Doctors</h4>
              
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card text-white" style="background-color:#2f49b9">
            <div class="card-body">
                <h4> <i class="fas fa-clock"></i> 24 Hours Service</h4>
            
              
            </div>
          </div>
        </div>
      </div>
    <div class="card mb-3">
      <div class="row">
        <div class="col-sm-6">
          <div class="card text-white" style="background-color:#2f49b9">
            <div class="card-body">
              <h4><i class="fa fa-mobile"></i>
                Online Appointments</h4>
              
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card text-white" style="background-color:#2f49b9">
            <div class="card-body">
                <h4> <i class="fas fa-shield-alt"></i>
                    Quality & Safety</h4>
            
              
            </div>
          </div>
        </div>
        </div>
      </div>
      </div>
      </div>